<div class="photo-card">

    <div class="gallery__item">

        <a class="gallery__item" href="${largeImageURL}">
            <img class="gallery__image" width="300px" height="225px" src="${webformatURL}" alt="" loading="lazy" />
        </a>

        <div class="info">
            <p class="info-item">
                <span class="infoTitle"><b>Likes</b></span><span class="infoField">${likes}</span>
            </p>
            <p class="info-item">
                <span class="infoTitle"><b>Views</b></span><span class="infoField">${views}</span>
            </p>
            <p class="info-item">
                <span class="infoTitle"><b>Comments</b></span><span class="infoField">${comments}</span>
            </p>
            <p class="info-item">
                <span class="infoTitle"><b>Downloads</b></span><span class="infoField">${downloads}</span>
            </p>
        </div>

    </div>

</div>